@page
@model SvanteASPNET1.Pages.JoinEventModel

@{
    ViewData["Title"] = "JoinEvent";
}


<div>
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                @Model.Event.Title
            </h5>
        </div>

        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Event.Description)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Event.Description)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Event.Place)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Event.Place)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Event.Address)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Event.Address)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Event.Date)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Event.Date)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Event.SpotsAvailable)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Event.SpotsAvailable)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
</div>
<div>
    @if (Request.Method == "POST")
    {
        <h2>Successfully joined @Model.Event.Title! See you there!</h2>
        <a asp-page="/Events" type="button" class="btn btn-outline-primary">View More Events</a>
        <a asp-page="/MyEvents" type="button" class="btn btn-outline-primary">View Your Events</a>
    }
    else
    {
    <form asp-route-id="@Model.Event.Id">
        <input type="submit" class="btn btn-outline-primary" value="Join This Event" />
    </form>
    }
</div>
